{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                     <h1>ToDo</h1>
                </div>
            </div>
         </div>
    </div>
</div>


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="card-title">Add a Task</h2>
        <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-2">
                <label for="task_name" class="form-label">Task Name:</label>
                <input type="text" class="form-control" name="task_name" id="task_name" placeholder="Enter your task">
              </div>
              <div class="mb-2">
                <label for="task_priority" class="form-label">Priority Level:</label>
                <input type="text" class="form-control" name="task_priority" id="task_priority" placeholder="Enter your priority level">
              <div class="mb-2">
                <label for="task_date" class="form-label">Date:</label>
                <input type="date" class="form-control" name="task_date" id="task_date" placeholder="Select your date">
              </div>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="card-title">Task to be completed</h2>
        {% for i in task1 %}
          <div class="card mb-3" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div class="card-body">
              <h5 class="card-title">{{i.task_name}}</h5>
              <p class="card-text">{{i.task_priority}}</p>
              <p class="card-text">{{i.task_date}}</p>
              <a href="{% url 'delete' i.id %}" class="btn btn-danger">Task completed</a>
              <a href="{% url 'update' i.id %}" class="btn btn-success">Update task</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

