{% extends 'base.html' %}

{% block content %}
 

<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto my-5">
        <div class="card" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
            <h5 class="card-title">Are you sure this task is done</h5>
            <button type="submit" class="btn btn-danger">Done</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}